.mac-finder {
    max-width: 790px;
    height: 460px;
    /* border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333; */
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
    
  }

  body{
    margin: 0 0;
  }
  

  .header{
  
    background-color: #fafafa; 
    top: 1;
    width: 790px;
    height: 65px;
    margin-left: 0px;
    
    border: 1px solid #ddd;
    
    border-radius: 10px;
  }
  h1{
    margin: 0 0;
    height: 70px
  }
  
  .header.login{
    float: right;
    
  }
  .sidebar {

    float: left;
    min-width: 150px;
    height: 100%;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;

    border: 1px solid #ddd;
    
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #333;
    text-decoration: none;
  }
  
  .navbar {
    
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -10px;
    height: 40px;
    min-width: 640px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ddd;
   
    
  }
  
  .file {
    margin-right: auto;
    margin: 0;
    padding: 0;
  }

  .git{
    margin-left: auto;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
  }

  .navbar button{
    width: 50px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 10px;
  }
  .main-content {
    flex-grow: 1;
    display: flex;
    flex: 1;
    position: relative;
    left: 10px;
    width: 70%;
    height: 100%;
    }

  .file-list {

    position: relative;
    left:-655px;;
    top: 40px;
    
    min-width: 640px;
    height: 400px;
    padding: 10px;
    overflow: auto;
    }
    
    .file-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .file-list li {
    margin-bottom: 10px;
    }
    
    .file-list a {
    color: #333;
    text-decoration: none;
    }
    

    #logo{
        position: relative;
        left: 270px;
    }

    .login{
        float: right;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url("/Users/wangzhipeng/fileExploder/src/resources/git.PNG");
        background-size: cover;
        background-position: center;
        position: relative;
        top: 10px;
        left: -20px;
    }

    input{
        position: relative;
        left:440px ;
        bottom: 30px;
    }
    
    #search{
        position: relative;
        left: 440px;
        bottom: 18px;
    }

    #file_print {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
    
    #file_print li {
      margin: 10px;
    }
    
    #file_print li img {
      width: 30px; /* 替换成您希望的宽度 */
      height: 30px; /* 替换成您希望的高度 */
    }